:root {
  --primary :#004835;
  --secondary: #ffa600;
  --tertiary: #6c4701;
}

.bg-primary{
  background-color: var(--primary) !important;
}
.bg-secondary{
  background-color: var(--secondary) !important;
}
.bg-tertiary{
  background-color: var(--tertiary) !important;
}

.text-primary {
  color: var(--primary) !important;
}
.text-secondary {
  color: var(--secondary) !important;
}

.text-white{
  color: white !important;
}
.text-black{
  color: black !important;
}
.success-bg{
  background-color: green !important;
  color: white !important;
  padding: 10px;
  border-radius: 3px ;
}
.error-bg{
  background-color: rgb(204, 58, 58) !important;
  color: white !important;
  padding: 10px;
  border-radius: 3px ;
}